body{
    background-color: hsl(240, 75%, 13%);
}

#box{
    width: 250px;
    height: 250px;
    background-color: hsl(0, 79%, 72%);
    font-size: 13em;
    text-align: center;

    width: 250px;
    height: 250px;


}

#box:hover{

        animation-name: glow;
        animation-duration: 1s;
}

img{

    width: 250px;
    height: 250px;
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.82, 0.08, 0.09, 0.64);
}


@keyframes slideLeft{
    from{transform: translateX(300%);}
}

@keyframes slideRight{
    to{transform: translateX(300%);}
}

@keyframes slideUp{
    from{transform: translateY(300%);}
}

@keyframes slideDown{
    to{transform: translateY(300%);}
}

@keyframes rotate{
    50%{transform: rotateZ(360deg);}
}
@keyframes grow{
    50%{transform: scale(2, 2);}
}

@keyframes shrink{
    50%{transform: scale(0.5, 0.5);}
}

@keyframes fade{
    50%{opacity: 0;}
}

@keyframes colorChange{
    0%{background-color: hsl(0, 79%, 72%);}
    20%{background-color: hsl(37, 79%, 72%);}
    40%{background-color: hsl(56, 79%, 72%);}
    60%{background-color: hsl(111, 79%, 72%);}
    80%{background-color:rgb(127, 161, 240);}
    100%{background-color: hsl(320, 79%, 72%);}

}

@keyframes glow {

    50%{box-shadow: 0px 0px 50px hsl(60, 100%, 73%);}
    
}